// SIZES:
$N74: 74px;
$N48: 48px;
$N30: 30px;
$N28: 28px;
$N20: 20px;
$N18: 18px;
$N16: 16px;
$N15: 15px;

// COLORS:
$BLUE: #2091F9;
$GREEN: #2DC071;
$ORANGE: #F15B07;
$DARK: #252B42;
$WHITE: #FFFFFF;
$BLACK: #222B32;
$GRAY: #374754;

//FONT:
$MAIN_FONT: 'Josefin Sans', sans-serif;

//OTHERS:
$BOX_SHADOW: 0px 13px 19px rgba(0, 0, 0, 0.07);

